<div class="row">
	<ul class="sub-nav">
  <h5>It's not easy being...</h5>
  <li class="active">VERY <i>very vEr</i>y verY <small>VERY</small></a></li>
  <li><a href="#">very <small>VERY</small> <b>very</b> <i>veRy</i></a></li>
  <li><a href="#"><h6>GOOD LOOKING</h6></a></li>
</dl>
</div>

