

<%= render "pages/header" %>
<%= render "pages/side" %>

<div class="row">
  <div class="small-9 columns vlad-picts">
    <ul data-orbit>
      <li>
        <img src="assets/cold_vlad.jpg" />
        <div class="orbit-caption">Very cold</div>
      </li>
      <li>
        <img src="assets/gay_vlad.jpg" />
        <div class="orbit-caption">gay vlad</div>
      </li>
      <li>
        <img src="assets/vlad_face.jpg" />
        <div class="orbit-caption">look at his PENETRATING stare</div>
      </li>
      <li>
        <img src="assets/vlad_pink.jpg" />
        <div class="orbit-caption">Pink Vlad</div>
      </li>
      <li>
        <img src="assets/vlad_purple.jpg" />
        <div class="orbit-caption">Purple Vlad</div>
      </li>
    </ul>
  </div>
</div>
  

