

<%= render "pages/header" %>
<%= render "pages/side" %>

<div class="row">
  <div class="small-9 columns vlad-picts">
    <h1>Why is Vlad the PENETRATOR ?</h1>
    <ul data-orbit>
      <li>
        <img src="assets/cold_vlad.jpg" />
        <div class="orbit-caption">He <b><i>penetrates</i></b> social norms and leaves his clothes at home</div>
      </li>
      <li>
        <img src="assets/gay_vlad.jpg" />
        <div class="orbit-caption">He <b><i>penetrates</i></b> men<small>'s cliques and becomes friends with them</small></div>
      </li>
      <li>
        <img src="assets/vlad_face.jpg" />
        <div class="orbit-caption">He <b><i>penetrates</i></b> you <small>with his stare.</small></div>
      </li>
      <li>
        <img src="assets/vlad_pink.jpg" />
        <div class="orbit-caption">He <b><i>penetrates</i></b> your mind by wearing no pants in a warehouse full of beans</div>
      </li>
      <li>
        <img src="assets/vlad_purple.jpg" />
        <div class="orbit-caption">He is an expert at <b><i>penetration</i></b> <small>testing</small></div>
      </li>
    </ul>
  </div>
</div>
  

