/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

 
 

 body {
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }

nav.top-bar{ 
		height: 61px;
		padding-left: 36px;
	}
div.vlad-picts {
	margin-left: 30%;
}

div.vlad-picts h1 {
	margin-left: -10%;
}
div.orbit-container {
	width: 406px;
}
